@model MyPortofolio.Models.LoginModel
@{
       
    ViewBag.Title = "Home Page";
}
<section id="loginForm">

</section>
<section class="social" id="socialLoginForm">
    <h2>Bientot un defiler de photo </h2>
</section>

